<!-- <div id="container">
    <strong>FORMULARIO DE REGISTRO DE USER</strong>
    <form [formGroup]="userForm" (ngSubmit)="ngOnInit()">
      <ion-col pull="string">
        <ion-input placeholder="Username" formControlName="username"></ion-input>
        <ion-input placeholder="Password" formControlName="password"></ion-input>
        <ion-input placeholder="Rol" formControlName="rol"></ion-input>
        <ion-input placeholder="Surname" formControlName="surname"></ion-input>
        <ion-input placeholder="name" formControlName="name"></ion-input>
        <ion-button color="primary" type="submit">Guardar</ion-button>
      </ion-col>
    </form>
  </div> -->
