<ion-card>
  <ion-card-content>
    <form [formGroup]="ophthalmologistForm" (ngSubmit)="ophthalmologistForm.valid && submit()">
        <ion-col pull="string">
            <ion-item lines="none">
                <ion-label position="fixed" >identificación</ion-label>

                <ion-input placeholder="identificación" formControlName="id"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >nombres</ion-label>


                <ion-input placeholder="nombres" formControlName="names"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >apellidos</ion-label>

                <ion-input placeholder="apellidos" formControlName="surnames"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >especialidad</ion-label>

                <ion-input placeholder="especialidad" formControlName="specialty"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >género</ion-label>

                <ion-input placeholder="género" formControlName="gender"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed">teléfono</ion-label>

                <ion-input placeholder="teléfono" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >celular</ion-label>

                <ion-input placeholder="celular" formControlName="cellPhone"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >dirección</ion-label>

                <ion-input placeholder="dirección" formControlName="address"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="fixed" >edad</ion-label>

                <ion-input placeholder="edad" formControlName="age"></ion-input>
            </ion-item>

            <ion-button color="primary" type="submit">Guardar</ion-button>
        </ion-col>
    </form>
  </ion-card-content>
</ion-card>
