<ion-card>
  <ion-card-content>
    <form [formGroup]="ophthalmologistForm" (ngSubmit)="ngOnInit()">
        <ion-col pull="string">
            <ion-item>
                <ion-label position="floating" >identificación</ion-label>

                <ion-input placeholder="identificación" formControlName="id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >nombres</ion-label>


                <ion-input placeholder="nombres" formControlName="names"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >apellidos</ion-label>

                <ion-input placeholder="apellidos" formControlName="surnames"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >especialidad</ion-label>

                <ion-input placeholder="especialidad" formControlName="specialty"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >género</ion-label>

                <ion-input placeholder="género" formControlName="gender"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">teléfono</ion-label>

                <ion-input placeholder="teléfono" formControlName="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >celular</ion-label>

                <ion-input placeholder="celular" formControlName="cellPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >dirección</ion-label>

                <ion-input placeholder="dirección" formControlName="address"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating" >edad</ion-label>

                <ion-input placeholder="edad" formControlName="age"></ion-input>
            </ion-item>

            <ion-button color="primary" type="submit">Guardar</ion-button>
        </ion-col>
    </form>
  </ion-card-content>
</ion-card>
